{{ define "main" }}
  <h1>Hello, from main!</h1>
  {{ block "nav" . }}<nav>I navigate!</nav>{{ end }}
  {{ block "hello" . }}<div> I am content</nav>{{ end }}
  <table>
  {{ range $k, $v := .Data }}
  <tr><td><strong>{{ $k }}</strong></td><td>{{ $v }}</td></tr>
  {{ end }}
  </table>
{{ end }}
