{{ define "pageContent" }}
  <div id="vue-app" v-cloak></div>
{{ end }}

{{ define "vue" }}
  <script type="text/javascript">
    var InitialVueProps = {{ .Data.props }}
  </script>

  {{ if isDevelopment }}
  <script src="{{ asset (print "src/pages/" .Data.entry ".ts") }}" type="module"></script>
  {{ else }}
  <script src="{{ asset (print "assets/" .Data.entry ".js") }}" type="module"></script>
  {{ end }}

  {{ template "vueScripts" . }}
{{ end }}
