<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#E2E8F0">
<style>
  footer {
    bottom: 0px;
    margin: 1rem 0;
    text-align: center;
  }
  main {
    height: 100%;
    min-height: 50vh;
    max-width: 1280px;
    margin: auto;
    padding: 1.5rem;
  }
</style>
  </head>
  <body>
    <main>
      <p>
        Hey there, I replace the default error template provided by <code>trails/http/template</code>.
      </p>
      <p>
      Because I match the filepath in <code>trails/http/template</code>,
      that package prefers a user-provided file over ones the package provides.
      </p>
      <p>
      Cool, huh?
      </p>
    </main>
    <footer>
        <code>
          <a
            href="https://pkg.go.dev/github.com/xy-planning-network/trails"
            target="_blank"
          >trails</a></code>, developed in Bozeman, Montana
    </footer>
  </body>
</html>
