<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    {{ template "main" . }}
    <br>
    We are coming at you from: {{ rootUrl }}
    <br>
    The environment is: {{ env }}
    <br>
    The current user is: {{ currentUser }}
  </body>
</html>
