<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/client/dist/index.css"></link>
  </head>
  <body>
    <div class="template-name">-- authenticated_base.tmpl --</div>
    {{ template "first" . }}
    <br>
    We are coming at you from: {{ rootUrl }}
    <br>
    The environment is: {{ env }}
    <br>
    The current user is: {{ currentUser }}
  </body>
</html>
